.star-rating {
    font-size: 0;
    display: flex;
    flex-direction: row;
    /* Pour supprimer les espaces entre les étoiles */
}

.star {
    width: 24px;
    height: 24px;
    cursor: pointer;
    fill: white;
    stroke: var(--color_wine);
    stroke-width: 1.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    transition: fill 0.2s;
  }
  
  .star.filled {
    fill: #8e467d;
    stroke: var(--color_wine);
    /*--color_text: #242424;
    --color_wine: #67375C;
    --color_champ: #80673d;*/
  }
  
