@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color_text: #242424;
  --color_wine: #67375C;
  --color_champ: #80673d;
}

/* Style the modal */
.modal {
    z-index: 1;
  }

  .modal-content {
    position: relative;
  }

.login {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://source.unsplash.com/WEQbe2jBg40/600x1200');
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}



/* FORM */
.formbold-mb-3 {
  margin-bottom: 15px;
}

.formbold-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.formbold-form-wrapper {
  margin: 0 auto;
  max-width: 570px;
  width: 100%;
  background: white;
  padding: 40px;
}

.formbold-img {
  display: block;
  margin: 0 auto 45px;
}

.formbold-input-wrapp > div {
  display: flex;
  gap: 20px;
}

.formbold-input-flex {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}
.formbold-input-flex > div {
  width: 50%;
}
.formbold-form-input {
  width: 100%;
  padding: 13px 22px;
  border-radius: 5px;
  border: 1px solid #dde3ec;
  background: #ffffff;
  font-weight: 500;
  font-size: 16px;
  color: #536387;
  outline: none;
  resize: none;
}
.formbold-form-input::placeholder,
select.formbold-form-input,
.formbold-form-input[type='date']::-webkit-datetime-edit-text,
.formbold-form-input[type='date']::-webkit-datetime-edit-month-field,
.formbold-form-input[type='date']::-webkit-datetime-edit-day-field,
.formbold-form-input[type='date']::-webkit-datetime-edit-year-field {
  color: rgba(83, 99, 135, 0.5);
}

.formbold-form-input:focus {
  border-color: #6a64f1;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}
.formbold-form-label {
  color: #07074D;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: block;
  margin-bottom: 10px;
}

.formbold-form-file-flex {
  display: flex;
  align-items: center;
  gap: 20px;
}
.formbold-form-file-flex .formbold-form-label {
  margin-bottom: 0;
}
.formbold-form-file {
  font-size: 14px;
  line-height: 24px;
  color: #536387;
}
.formbold-form-file::-webkit-file-upload-button {
  display: none;
}
.formbold-form-file:before {
  content: 'Upload file';
  display: inline-block;
  background: #EEEEEE;
  border: 0.5px solid #FBFBFB;
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding: 3px 12px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  color: #637381;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-right: 10px;
}

.formbold-btn {
  text-align: center;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  padding: 14px 25px;
  border: none;
  font-weight: 500;
  background-color: #6a64f1;
  color: white;
  cursor: pointer;
  margin-top: 25px;
}
.formbold-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-w-45 {
  width: 45%;
}

.add_btn {
  position: sticky;
  top: 80%;
  left: 90%;
  width: 70px;

  margin-bottom: 0.5rem;
}

.border-error {
  border: #67375C 2px solid;
}

/* **** TAB BAR **** */
.tab-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: #67375C;
  border-top: 2px solid #67375C;
  overflow-x: hidden; /* Hide horizontal overflow */
  transform: translateY(0%);
}

.tab-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20%;
  padding: 0px 8px;
  text-decoration: none;
}


.tab-icon.active {
  color: #80673d;
}


.tab-bar.more-menu {
  position: relative;
}

.more-toggle {
  display: none;
}

.more-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 2px;
}

.more-options {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #67375C;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.more-toggle:checked ~ .more-options {
  transform: translateY(0%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-options .tab-bar {
  width: 100%;
  padding: 8px;
}

.more-options .tab-icon span {
  color: #fff;
  font-size: 12px;
}
